<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822316430389-505th99jc5meoomq83ge4v3l30qoe5ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822316430389-505th99jc5meoomq83ge4v3l30qoe5ci</string>
	<key>API_KEY</key>
	<string>AIzaSyAvrX6fikWJDvD6D14lOz8YDJkoiVS3OkI</string>
	<key>GCM_SENDER_ID</key>
	<string>822316430389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rigPowerCalculator</string>
	<key>PROJECT_ID</key>
	<string>rig-power-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>rig-power-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822316430389:ios:fa0e5d98c65f3e7937ad7c</string>
</dict>
</plist>